<!DOCTYPE html>
<html>
<head>
    <title>Movie Catalog</title>
</head>
<body>
    <h1>New Releases</h1>
    <ul>
        {% for movie in categorized_movies.New Releases %}
            <li>{{ movie.title }} ({{ movie.release_year }})</li>
        {% endfor %}
    </ul>

    <h1>Recent</h1>
    <ul>
        {% for movie in categorized_movies.Recent %}
            <li>{{ movie.title }} ({{ movie.release_year }})</li>
        {% endfor %}
    </ul>

    <h1>Older</h1>
    <ul>
        {% for movie in categorized_movies.Older %}
            <li>{{ movie.title }} ({{ movie.release_year }})</li>
        {% endfor %}
    </ul>
</body>
</html>