{% load embed_video_tags %}
{% load static   %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styls.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Movie</title>
</head>
<body>
    <header>
        <div class="containe">
            <div class="nav-bar">
                <div class="nav-logo">
                    <div class="nav-text">
                        <h1>Uz | FLIX</h1>
                    </div>
             
                </div>
                <div class="nav-menu">
                    <a href="/">Home</a>
                    <a href="/search">Search</a>
                </div>
                <div class="nav-button">
                    <a href="/signup"><button>Signup</button></a>
                </div>
            </div>
            <br>
            <br>    
            <div class="spiderla">

                <h2">MARVEL UNIVERSE's</h2>
                <h1>Spider-Man</h1>

            </div>
        </div>
    </header>
    <h1 style=" margin-bottom: 300px;font: italic; font-size: 30px; text-align: center; font-family: 'Courier New', Courier, monospace;padding-bottom: -500px;" >If you want to see Movies, you must <a href="/sign" style="text-decoration: none;">Signup</a></h1>

</body>
</html>